<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="starter" ng-controller="MainCtrl">
<ion-header-bar>
    <h1 class="title">Photos and Videos</h1>
</ion-header-bar>
<ion-content padding="true">
    <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
    <button ng-click="chooseMedia('photo')" class="button button-block button-primary">Choose Photo</button>
    <button ng-click="captureVideo()" class="button button-block button-primary">Capture Video</button>
    <button ng-click="chooseMedia('video')" class="button button-block button-primary">Choose Video</button>
    <img ng-show="photoPreview" ng-src="{{photoPreview}}" style="max-width: 100%">
    <video ng-show="videoPreview" preload="metadata" controls="controls" webkit-playsinline="webkit-playsinline" class="videoPlayer full-image" ng-src="{{videoPreview}}" type="{{videoType}}"></video>
</ion-content>
</body>
</html>
